location            = "japaneast"
resource_group_name = "rg-sl-dr-asr-jpe"
vault_name          = "rsv-sl-asr-jpe"
sku                 = "Standard"
soft_delete_enabled = true

common_tags = {
  project     = "azure-landing-zone-asr-runbook-ent"
  environment = "dr"
  region_role = "dr"
  workload    = "asr"
  managed_by  = "terraform"
}
