location            = "japaneast"
resource_group_name = "rg-sl-sales-prod-dr-jpe"
vnet_name           = "vnet-sl-sales-prod-dr-jpe"
address_space       = ["10.120.0.0/16"]
dns_servers         = []

# Fill from output of live/10-platform/dr-hub-network-jpe
# terraform output -raw vnet_id
dr_hub_vnet_id = "<DR_HUB_VNET_ID>"

common_tags = {
  project      = "azure-landing-zone-asr-runbook-ent"
  environment  = "dr"
  region_role  = "dr"
  workload     = "sales"
  managed_by   = "terraform"
  dr_protected = "true"
}

subnets = {
  web = {
    name             = "snet-web"
    address_prefixes = ["10.120.0.0/24"]
    create_nsg       = true
  }
  was = {
    name             = "snet-was"
    address_prefixes = ["10.120.1.0/24"]
    create_nsg       = true
  }
  db = {
    name             = "snet-db"
    address_prefixes = ["10.120.2.0/24"]
    create_nsg       = true
  }
  pe = {
    name             = "snet-pe"
    address_prefixes = ["10.120.3.0/24"]
    create_nsg       = true
  }
  agent = {
    name             = "snet-agent"
    address_prefixes = ["10.120.4.0/24"]
    create_nsg       = true
  }
}
